
.container-addcontact{
    display: flex;
    flex-direction: column;
    align-items:center;
 
}

.container-addcontact h1 {
    height: 150px;
    width: 150px;
}

.reg-but {

   
    width: 100%;
  display: flex;
  justify-content: space-between;
  
   
}
.identificador {
    background-color: rgba(129, 74, 239, 0.354);
}
.reg-but div {
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
}

.reg-but div i {
    padding-right: 10px;
}
.reg-but div h2 {
    font-weight: 200;
    font-size:larger;
    margin: 0;
    padding: 0;
 
}

.reg-but button {
    border: none;
    background-color: rgba(129, 74, 239, 0.354);
    height: 5vh;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}



.reg-name,
.reg-num,
.reg-gmail,
.reg-birthday {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
}

.reg-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reg-name i,
.reg-num i,
.reg-but i,
.reg-gmail i,
.reg-birthday i{
    width: 10%;
    font-size: 23px;
}

.reg-but i {
    cursor: pointer;
}

.reg-num i {
    font-size: 25px;
}
.reg-name input,
.reg-num input,
.reg-gmail input,
.reg-birthday input {
    margin: 0;
    padding:0px 10px 0px 10px;
    width: 90%;
    height: inherit;
    background-color: hsl(220, 12%, 95%);
    color: gray;
    border: none;
    border-radius: 5PX;
}

@media only screen and (min-width: 768px) {
 .reg-but {
    
    margin: 0;
    padding: 0;
 }
 .ocultar {
    display: none;
 }
  }
  