body {
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.779);
  color: black;
  height: 100vh;
  padding-top: 10px;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position:sticky;
 

}

.absolute {
  background-color: black;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  justify-content: center;
  width: 100vw;
 flex-wrap: wrap;
}
.contenedor-phonebook {

  height: 100vh;
  width: 100%;
  padding: 14px;
  /* background-color: #99c9ff; */
 
  border: 5px solid white;
}
.contenedor-phonebook2{

  width: 100%;
 
}
h2 {
margin: 0;
padding: 0;
font-size:large;
text-align: center;

}


@media only screen and (min-width: 768px) {
  /* Estilos para tablets en posición horizontal y dispositivos de escritorio */
  /* Puedes agregar aquí tus estilos para tablets y dispositivos de escritorio */
  body {
   justify-content: center;
   background-color: rgba(73, 73, 129, 0.486);
   padding-top: 10px;
  }
  .contenedor-phonebook {
    width: 350px;
    height: 600px;
    border:10px solid black;
    border-radius: 20px;
    overflow: auto;
    background-color: white;

  }
  
}
